#kb-book-modal {
  transition: opacity 0.3s ease;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: fixed;
  opacity: 0;
  &.show {
    z-index: 10;
    opacity: 1;
    background-color: rgba(13, 37, 69, .75);
  }

  .kb-close-modal {
    position: fixed;
    top: -35px;
    right: 10px;
    color: white;
    width: 30px;
    height: 30px;
    font-family: 'Open Sans', sans-serif !important;
    i {
      font-size: 20px;
    }
  }

  .kb-close-modal:hover {
    color: greenyellow;
  }

  .kb-dialog-container {
    display: flex;
    position: absolute;
    height: 450px;
    width: 850px;
    min-width: 850px;
    top: 50%;
    left: 50%;
    padding: 50px;
    border-radius: 3px;
    color: black;
    background-color: white;
    box-shadow: 0 15px 40px rgba(6, 21, 44, .7);
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
  }

  .kb-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
  }

  .kb-details-book-cover {
    width: 250px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 30px 0;
  }

  .kb-highlights-container {
    padding: 0 50px;
    margin: 30px 0;
    overflow-y: auto;
  }

  .yourHighlight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
  }

  .yourHighlight:after {
    content: '';
    height: 1px;
    width: 70%;
    margin: 20px 0;
    background-color: #979797;
  }

  .highlightRow.yourHighlight > *:not(.highlight) {
    margin-right: 20px;
  }

  a.linkOut {
    background: none;
  }
  a.k4pcReadMore {
    display: block;
    margin: 0;
    padding: 0;
  }

  span.highlight {
    display: block;
    width: 100%;
    line-height: 1.5;
  }

  .deleteHighlight .bullet {
    display: none;
  }

  // hiding edition rows
  .readMore, .deleteHighlightForm, .editNote {
    display: none !important;
  }

}